@charset "utf-8";
@import url("font.css");

/* reset */
html, body, div, nav, header, footer, section, article, aside, hgroup, iframe, h1, h2, h3, h4, h5, h6, p, a, span, i, em, strong, b, address, fildset, form, input, select, option, label, button, img, dl, dt, dd, ul, ol, li, table, caption, thead, tbody, tfoot, tr, th, td, textarea, hr {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	vertical-align:baseline;
	background:transparent;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
			box-sizing:border-box;
}
html, body {width:100%; min-width:1300px; height:100%;}
body {
	font-family:"Nanum-Gothic", sans-serif;
	font-size:16px;
	line-height:1;
	font-weight:400;
	color:#171717;
	word-break:keep-all;
	word-wrap:break-word;
	background:#fff;
	overflow-y:auto;
}
nav, header, footer, section, article, aside, hgroup {display:block;}
ul, ol, dl {list-style:none;}
table {width:100%; border-collapse:collapse; border-spacing:0;}
img {max-width:100%; vertical-align:top;}
a {display:inline-block; color:#171717; text-decoration:none; cursor:pointer !important;}
i, em, address {font-style:normal; font-weight:normal;}

/* button, select, input reset */
input, select, button, textarea {
	font-family:"Nanum-Gothic", sans-serif;
	font-size:14px;
	font-weight:400;
	color:#171717;
	vertical-align:top;
	outline:none;
}
input, button {*overflow:visible; border-radius:0; -webkit-appearance:none;}
input:only-child, select:only-child {width:100%;}
button, label {cursor:pointer;}
b, strong {font-weight:700;}

/* select style */
select {border-radius:0; -webkit-appearance:none; -moz-appearance:none; appearance:none; color:#1a1a1a; cursor:pointer;}
select::-ms-expand {display: none;}
.select_box:focus {border:1px solid #666;}
.select_box {height:32px; padding:0 27px 0 12px; color:#222; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; background:url(../images/c_arrow.svg), #fff; background-repeat:no-repeat; background-size:7px 5px; background-position:center right 10px; border:1px solid #BDBDBD;}

/* checkbox style */
input[type=checkbox].chk_box:not(old) {display:none;}
input[type=checkbox].chk_box:not(old) + label {display:inline-block; line-height:24px; padding-left:32px; color:#171717; font-size:16px; background:url("../images/checkbox_n.svg") no-repeat 0 top; background-size:24px;}
input[type=checkbox].chk_box:not(old):checked + label {background:url("../images/checkbox_s.svg") no-repeat 0 top; background-size:24px;}

input[type=checkbox].chk_box.sm:not(old) + label {display:inline-block; line-height:20px; padding-left:28px; color:rgba(36,36,36,.6); font-size:15px; background:url("../images/checkbox_n.svg") no-repeat 0 top; background-size:20px;}
input[type=checkbox].chk_box.sm:not(old):checked + label {background:url("../images/checkbox_s.svg") no-repeat 0 top; background-size:20px;}

/* input */
input.input {width:100%; height:32px; padding:0 12px; color:#222; background:#fff; border:1px solid #BDBDBD;}
input::-webkit-input-placeholder {color:#b2b2b2; font-size:14px; font-weight:300;}
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {-webkit-appearance:none; appearance:none; margin:0;}

/* radio style */
input[type=radio].chk_radio:not(old) {display:none;}
input[type=radio].chk_radio:not(old) + label {display:inline-block; line-height:24px; padding-left:32px; color:#171717; font-size:16px; background:url("../images/checkbox_n.svg") no-repeat 0 top; background-size:24px;}
input[type=radio].chk_radio:not(old):checked + label {background:url("../images/checkbox_s.svg") no-repeat 0 top; background-size:24px;}
input[type=radio].chk_radio.sm:not(old) + label {display:inline-block; line-height:20px; padding-left:28px; font-size:15px; background:url("../images/checkbox_n.svg") no-repeat 0 top; background-size:20px;}
input[type=radio].chk_radio.sm:not(old):checked + label {background:url("../images/checkbox_s.svg") no-repeat 0 top; background-size:20px;}

/* textarea style */
.textarea {width:100%; height:100px; padding:15px; line-height:23px; font-size:14px; letter-spacing:-0.7px; border:1px solid #ccc; resize:none;}
.textarea[disabled] {background:#eee;}

/* button style */
.roundBtn {padding:0 15px; line-height:25px; font-size:13px; color:#6c6c6c; border:1px solid #a9a9a9; border-radius:20px;}
.roundBtn.tbBtn {padding:0 20px;}
.roundBtn.tbBtn + .tbBtn {margin-left:8px;}
.roundBtn.typeA {color:#3B4094; border-color:#3B4094;}
.roundBtn.typeA[disabled] {color:#9abadc; border-color:#9abadc;}
.roundBtn.typeB {color:#6c6c6c; border-color:#a9a9a9;}
.roundBtn.typeB[disabled] {color:#c8c8c8; border-color:#c8c8c8;}
.roundBtn.typeC {color:#6a9dd3; border-color:#6a9dd3;}
.roundBtn.medium {padding:0 20px; height:29px; font-size:15px;}
.contentsBtn {position:relative; width:100px; height:32px; font-size:15px; line-height:33px; font-weight:700;  color:#fff; text-align:center;background:#3B4094;}
.contentsBtn:focus {background:rgba(59,64,148,0.9);}
.contentsBtn.typeA {background:#97a1ab;}
.contentsBtn.typeA:focus {background:rgba(151,161,171,0.9);}
.contentsBtn.typeB {background:#6a9dd3;}
.contentsBtn.large {width:100%; height:60px; font-size:20px;}

/* table style */
.table_wrap {position:relative; width:100%; overflow-x:auto;}
.table1 {width:100%; font-weight:300; border-top:1px solid #E3E3E3;}
.table1 th, .table1 td {padding:8px 20px; line-height:30px; text-align:center; font-size:14px;  color:#222; border-bottom:1px solid #E3E3E3; border-left:1px solid #E3E3E3; vertical-align:middle; white-space:nowrap;}
.table1 th.txt_rt, .table1 td.txt_rt {text-align:right;}
.table1 thead th {padding:12px 20px; line-height:20px; font-weight:700; color:#1a1a1a; background:#f9f9f9;}
.table1 thead tr:first-child th:first-child, .table1 tbody th, .table1 tbody td:first-child {border-left:none;}

.table1.type1 {border-top:1px solid #ADB9C7;}
.table1.type1 th, .table1.type1 td {height:45px; text-align:left; border-left:none;}
.table1.type1 tbody th {width:214px; background:#f9f9f9;}

.table1 .roundBtn {background:#fff;}
.table1 .roundBtn[disabled] {background:#fcfcfc;}

.table1 .link {color:#484DB4; font-weight:bold; text-decoration:underline;}
.table1 .link2 {cursor:pointer; text-decoration:underline;}
.table1 .fsb {font-size:18px;}
.table1 .g_line th, .table1 .g_line td {background:#EFF3FF;}

.table1 .tl th, .table1 .tl td {color:#b7bcc1; background:#F1F2F3;}
.table1 .hl th, .table1 .hl td {background:#FFF9D5;}

/* paging */
.nav_wrap {padding:40px 0 50px; text-align:center;}
.nav_wrap .page_nav {display:inline-block;}
.nav_wrap .page_nav li {float:left; margin:0 5px; line-height:20px;}
.nav_wrap .page_nav li.on a {font-weight:bold; text-decoration:underline;}
.nav_wrap .page_nav .btn {font-size:12px;}
.nav_wrap .page_nav .btn.prev {margin-right:20px;}
.nav_wrap .page_nav .btn.next {margin-left:20px;}

.nav_wrap .btn_more {display:block; padding:5px 0; font-weight:600; border-top:1px solid #ccc; border-bottom:1px solid #ccc;}

/* display table */
.dt {display:table; width:100%;}
.dtr {display:table-row;}
.dtc {display:table-cell;}

/* margin, padding */
.mt0 {margin-top:0 !important;}
.mb0 {margin-bottom:0 !important;}
.pt0 {padding-top:0 !important;}
.pb0 {padding-bottom:0 !important;}

/* text */
.txtl {text-align:left !important;}
.txtr {text-align:right !important;}
.txtc {text-align:center !important;}

.fwb {font-weight:700 !important;}
.fweb {font-weight:800 !important;}

.red {color:#E61B1B !important;}

/* layout */
.clearfix {*zoom:1;}
.clearfix:before, .clearfix:after {display:table; line-height:0; content:'';}
.clearfix:after {clear:both;}

.fl {float:left;}
.fr {float:right;}

.hr {width:100%; height:1px; margin:30px 0; border:0; background:#e5e5e5;}

.dv {display:inline-block; margin:0 15px;}

#wrap {position:relative; width:100%; min-width:1280px; height:100%; min-height:100%; -ms-overflow-style:none;}
#wrap::-webkit-scrollbar {display:none;}

.container {width:1300px; padding:0 20px; margin:0 auto;}
.contents {padding-top:120px; padding-bottom:40px;}

/* popup */
.popWrap {position:fixed; top:0; left:0; right:0; bottom:0; min-width:900px; font-size:0; text-align:center; background:rgba(0,0,0,.6); z-index:500;}
.popWrap:after {display:inline-block; height:100%; vertical-align:middle; content:'';}

.pop_box {display:inline-block; min-width:420px; max-width:calc(100% - 80px); text-align:left;  vertical-align:middle; background:#fff; z-index:700;}
.pop_box.maxw {min-width:840px; width:840px;}
.pop_box .content {padding:0 30px 30px 30px;}
.pop_box .pop_tt {position:relative; padding:25px 35px 16px 0; border-bottom:1px solid #000;}
.pop_box .pop_tt h2 {line-height:20px; font-size:16px; font-weight:600; color:#000; letter-spacing:-0.8px;}
.pop_box .pop_ct {margin-top:20px;}
.pop_box .pop_ct p {padding-top:10px; font-size:17px; line-height:25px; text-align:center;}

.pop_box .pop_ct .textarea {height:60px; padding:16px 10px; line-height:20px;}

.pop_box .pop_btn {padding-top:20px; text-align:center;}
.pop_box .pop_btn .contentsBtn {width:130px; margin-top:20px; margin-left:8px; font-weight:600;}
.pop_box .pop_btn .contentsBtn:first-child {margin-left:0;}